*{
    margin: 0px,auto;
    padding: 0px;
}

html{
    height: 100%;
}

body{
    background: linear-gradient(blueviolet, blue);
    height: 100%;
    width: 100%;
}

#nombre{
    margin-top: 4%;
    text-align: center;
}

#foto img{
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    display: block;
    margin: auto;
}

.left{
    max-width: 450px;
    min-width: 450px;
}


